body {
   background-color:black; 
   width: 80vh;
   margin: auto;
   font-family: Arial, Helvetica, sans-serif;
   
}

.title {
color: #f2e205;
font-style: italic;
font-size: 50px;
align-items: center;
text-align: center;
}

.redesSociais {
    color: #f2e205;
    font-style: italic;
    font-size: 20px;
    text-align: right;
    
}

.contato {
    color: #f2e205;
    font-style: italic;
    font-size: 20px;
    text-align: left;
    padding: auto;
}

div {
    display: inline-block;
}

.div-principal img {
    width: 80vh;
    height: auto;
    border-radius: 10px;
    
      
}

.div-secundaria img {
    width: 25vh;
    background-color: #f2e205;
    padding: 5px;
    height: auto;
    border-radius: 10px;
}

