body {
   
   border-radius: 10px;
    max-width: 80vh;
   margin: auto;
   max-height: auto;
   font-family: Arial;
   border: 2px solid #000;
}

div {
    
    display: inline-block;
}

.div-principal img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    
    
}


.div-secundaria img {
    width: 26vh;
    height: auto;
    border-radius: 10px;
    border: 1px solid #000;
    }


.title {
color:black;
font-style: italic;
font-size: 20px;
text-align: center;

}


.redes {
    
    color: black;
    font-style: italic;
    max-width: 50%;
    max-height: auto;
    text-align: right;
    
}
input, button {
    border-radius: 5px;
}




